/* Removing Inbuilt CSS  */
/* we can use id and class replace with className */

h1{
  background-color: black;
  color: gold;
}

h2{
  background-color: hotpink;
  color: green;
  padding: 20px;
  text-align: center;
}

h3{
  background-color: beige;
  color: deepskyblue;
  font-size: larger;
  font-weight: bolder;
}

p{
  background-color: antiquewhite;
  color: red;
}



