
.count{
    color: magenta;
}

.num{
    color: blue;
}

.large{
    color: green;
}

.small{
    color: red;
}

h3{
    border: 4px solid skyblue;
    text-align: center;
    background-color: black;
    color: gold;
}