
/* CSS properties in class  */

.delete {
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 1rem;
  margin: 4px;
  border-radius: 3px;
  outline: 0;
}

.save {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  margin: 4px;
  border-radius: 3px;
  outline: 0;
}


.container {
  background-color: lightskyblue;
}

.contain {
  background-color: lightcoral;
}
